body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    background-color: #FDFCEF;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    line-height: 1.4em;
    margin: 0;
}

h2{
    font-size: 40px;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 70px;
}

.image{
    margin: 0;
}


.main-wrapper{
    display: flex;
    width: 1110px;
    height: 577px;
}

.wrapper{
    margin-left: 245px;
    margin-bottom: 41px;
}

.wrapper2{

}
.icon{
    margin: 0;
    padding: 0;
}

.feature{
    display: flex;
    align-items: center;
    gap: 41px;
}

.feature-text{
    margin-top: 11px;
}
.features-container{
    width: 720px;
    height: 78px;
    flex-direction: column;
    margin-bottom: 41px;
    align-items: center;
}

.container{
    max-width: 613px;
    margin: 0 auto;
    gap: 41px;

}
.head{
    display: flex;
    margin-top: 60px;
    margin-bottom: 120px;
}

.name{
    width: 465px;
    height: auto;
    font-size: 50px;
    line-height: 68px;
}

.description{
    width: 423px;
    height: 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin: 30px 0px;
}

.button{
    background: #FF6861;
    border-radius: 100px;
    font-size: 18px;
    text-decoration: none;
    color: #ffff;
    padding: 22px 70px;
    display: block;
    text-align: center;
    width: 221px;
    height: 69px;
}

.title-main{
    margin: 30px 0px;
}

img{
    margin-left: 180px;
    margin-top: 176px;
}

.lorem{
}

a{
    text-decoration: none;
    color: #ffff;
}

.action-wrap{
    background: linear-gradient(102deg, #FFF6DF 17.38%, #FFDFDE 81.25%);
    border-radius: 60px;
    display: flex;
    align-items: center;
    padding: 76px 0 0 122px;
    justify-content: center;
    gap: 120px;
}

.container-2{
    margin: 0 auto;
    margin-top: 120px;

}

.action{
    margin: 120px 245px;
    width: 1110px;
    height: 486px;
}

.image2{
    margin: 100px 125px 99px 0;
}

.feature{
    padding-bottom: 41px;
}